/**
 * Make the whole rows yellow
 */

.damaging[data-ores-damaging='softest'] {
	background-color: #fc3;
}

.damaging[data-ores-damaging='soft'] {
	background-color: #ffe79e;
}

.damaging[data-ores-damaging='hard'] {
	background-color: #fef6e7;
}
