// Loaded as part of ext.ores.styles but only needed for Special:ORESModels
.mw-special-ORESModels {
	th,
	td {
		// FIXME these colors come from RCFilters, reuse them via LESS vars somehow
		.mw-specialoresmodels-row-likelygood & {
			background-color: #b3e7dc !important;
		}

		.mw-specialoresmodels-row-maybebad & {
			background-color: #fff0c2 !important;
		}

		.mw-specialoresmodels-row-likelybad & {
			background-color: #ffd3bd !important;
		}

		.mw-specialoresmodels-row-verylikelybad & {
			background-color: #f5c2c2 !important;
		}
	}
}
