// Loaded as part of ext.ores.styles but only needed for Special:ORESModels
@import 'mediawiki.skin.variables.less';

.mw-special-ORESModels {
	.mw-specialoresmodels-row-likelygood {
		td,
		th {
			background-color: @background-color-success-subtle !important;
		}
	}

	.mw-specialoresmodels-row-maybebad {
		td,
		th {
			background-color: @background-color-progressive-subtle !important;
		}
	}

	.mw-specialoresmodels-row-likelybad {
		td,
		th {
			background-color: @background-color-warning-subtle !important;
		}
	}

	.mw-specialoresmodels-row-verylikelybad {
		td,
		th {
			background-color: @background-color-error-subtle !important;
		}
	}
}
