/* Make the whole rows various shades of yellow */
.damaging.ores-highlight[data-ores-damaging='softest'] {
	background-color: #fc3;
}

.damaging.ores-highlight[data-ores-damaging='soft'] {
	background-color: #ffe79e;
}

.damaging.ores-highlight[data-ores-damaging='hard'] {
	background-color: #fef6e7;
}

/* Make the "r" red */
.ores-damaging {
	color: #f00;
}
