/* Make the whole rows various shades of yellow */
.damaging.mw-changeslist-damaging-maybebad {
	background-color: #fef6e7;
}

.damaging.mw-changeslist-damaging-likelybad {
	background-color: #ffe79e;
}

.damaging.mw-changeslist-damaging-verylikelybad {
	background-color: #fc3;
}

